<div class="chapter-menu-container">
  <div class="chapter-menu-content">
    <div class="chapter-menu-header">
      <div class="chapter-menu-title">
        <h2>
          <span>Surah Selection</span>
        </h2>
      </div>
      <div class="chapter-menu-close">
        <mat-icon (click)="triggerChapterMenu()">close</mat-icon>
      </div>
    </div>
    <div class="chapter-container">
      <div
        class="chapter"
        [class.active]="chapter.chapterNumber === this.surah?.surahNo"
        *ngFor="let chapter of filteredChapters"
        (click)="selectChapter(chapter)"
      >
        <div class="wrap-chapterNumber-translation">
          <div class="chapter-number">
            <p>{{ chapter.chapterNumber }}</p>
          </div>
          <div>
            <span>{{ chapter.surahNameTranslation }}</span>
          </div>
        </div>
        <div>
          <span>{{ chapter.surahNameArabic }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
