<div class="menu-container">
  <div class="menu-content">
    <div class="menu-header">
      <div class="menu-close">
        <mat-icon (click)="triggerMenu()">close</mat-icon>
      </div>
      <div class="menu-title">
        <h1>
          <a routerLink="/"><span>Quran</span></a>
        </h1>
      </div>
    </div>
    <div class="menu-links">
      <a routerLink="/">
        <span>Home</span>
      </a>
      <a routerLink="/about">
        <span>About Us</span>
      </a>
      <a routerLink="/reciters">
        <span>Reciters</span>
      </a>
      <a routerLink="/settings">
        <span>Settings</span>
      </a>
      <a routerLink="/help">
        <span>Help</span>
      </a>
    </div>
  </div>
</div>
